html, body {
	padding : 0;
	margin : 0;
}
.layout__topbar {
  background-color : purple;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.logo {
	background-color : inherit;  
	width: 10%;
}

.top_title {
	background-color : inherit;
	width: 60%;
	text-align: center;
	margin: 7px;
}

.top_data {
	background-color : inherit;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.data_image img{
	width: auto;
  height: 80px;
	position: relative;
	border-radius: 100px;
	margin: 7px;
}

.logo img {
	padding : 0;
	margin : 0;
	width: 80px;
  height: 80px;
	position: relative;
	top: 10%;
	left: 3%;
}