html, body {
	padding : 0;
	margin : 0;
}
.layout__topbar {
  background-color : purple;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.logo {
	background-color : inherit;  
	width: 10%;
}

.top_title {
	background-color : inherit;
	width: 60%;
	text-align: center;
}

.top_data {
	background-color : inherit;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.data_image img, figure img {
	margin: auto;
	width: 80px;
  height: 80px;
	display: inline-block;
	vertical-align: middle;
}

figure{
	padding : 0;
	margin : 0;
}

/*figure img {
	padding : 0;
	width: 80px;
  height: 80px;
	margin : 0;	
}*/