html, body {
	padding : 0;
	margin : 0;
}
.layout__topbar {
  background-color : purple;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.logo {
	background-color : inherit;  
	width: 10%;
}

.top_title {
	background-color : inherit;
	width: 60%;
	text-align: center;
	margin: 7px;
}

.top_data {
	background-color : inherit;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.data_image img{
	width: auto;
  height: 80px;
	position: relative;
	border-radius: 100px;
	margin: 7px;
}

.logo img {
	padding : 0;
	margin : 0;
	width: 80px;
  height: 80px;
	position: relative;
	top: 10%;
	left: 3%;
}

.sidenav {
	height: 100%;
  width: 160px;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-basis: 100%;
	position: fixed;
	width: 100%;
	height: 100%;
	align-items: stretch;
}

.sidenav ul {	
	padding-left: 0px;
	list-style-type: none;
}

.left_bottom_button {
	background-color: green;
	border: none;
	color: white;
	padding: 0;
	text-align: center;
	font-size: 16px;
	padding: 10px 5px;
	cursor: pointer;
	position: fixed;
	bottom: 0;	
	width: 160px;
}

.content {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.refresh {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
}

.refresh_butt {
	margin: 7px;
	width: 30px;
	height: 30px;
	border-radius: 75px;
	font-size: 25px;
	border: none;
	background-color: purple;
	cursor: pointer;
}

.add_butt {
	margin: 7px;
	height: 30px;
	width: 350px;
	border:none;
	font-size: 30px;
	background-color: purple;
	position: fixed;
	right: 0%;
}